---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - gate.sh
  resources:
  - clustergates
  - gates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gate.sh
  resources:
  - clustergates/finalizers
  - gates/finalizers
  verbs:
  - update
- apiGroups:
  - gate.sh
  resources:
  - clustergates/status
  - gates/status
  verbs:
  - get
  - patch
  - update
