apiVersion: gate.sh/v1alpha1
kind: Gate
metadata:
  labels:
    app.kubernetes.io/name: gate-operator
    app.kubernetes.io/managed-by: kustomize
  name: gate-sample-2
spec:
  requeueAfter: 60s
  targets:
    - name: K8sAppDns
      selector:
        apiVersion: apps/v1
        kind: Deployment
        namespace: kube-system
        labelSelector:
          matchLabels:
            k8s-app: kube-dns
      validators:
        - matchCondition:
            type: "Available"
            status: "True"
    - name: NotFound
      selector:
        apiVersion: apps/v1
        kind: Deployment
        name: "not-found"
      validators:
        - atLeast:
            count: 1
  operation:
    operator: Or