name: test-e2e

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: Test E2E
    runs-on: ubuntu-latest
    if: |
      ${{github.repository == 'robinlioret/gate-operator' }}
    strategy:
      fail-fast: false
      matrix:
        kubernetes-minor-version:
          - 1.32.0
          - 1.33.0
          - 1.34.0

    steps:
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          cluster_name: kind
          version: v0.30.0
          node_image: kindest/node:v${{ matrix.kubernetes-minor-version }}
          kubectl_version: v${{ matrix.kubernetes-minor-version }}

      - name: Clone the code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.1.0

      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e